html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(2, 7, 17);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0px;
}


#top-img {
    max-width: 100%;
    position: absolute;
    top: 0%;
}


#title-box {
    position: absolute;
    padding: 20px;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 75px;
    font-weight: bold;
    animation: fade-in 1s;
    z-index: 10;
    text-shadow: rgba(0, 0, 0, 0.437) 0px 0px 10px;
}


#description {
    margin: 5px;
    color: rgb(215, 233, 239);
    animation: fade-in 4s;
    z-index: 10;
    text-shadow: black 0px 0px 5px;
}


#discord {
    position: fixed;
    right: 0%;
    top: 0%;
    transform: translate(0% -100%);
    background-color: rgb(4, 14, 34);
    margin: 15px;
    padding: 5px 30px;
    border-radius: 5px;
}


#discord p.title {
    color: cornflowerblue;
    text-align: center;
    margin: 2px;
    text-shadow: cornflowerblue 0px 0px 5px;
}

#discord p.description {
    color: rgb(254, 254, 254);
    text-align: center;
    margin: 2px;
}


#categories {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70%;
    transform: translate(-50%);
}


.category {
    background-color: #040e22;
    border-radius: 5px;
    max-width: fit-content;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    animation: fade-in 7s;
}

.category:hover {
    background-color: rgb(7, 23, 56);
    box-shadow: rgb(19, 69, 170) 0px 0px 10px;
    cursor: pointer;
}

.category p.title {
    color: white;
    text-align: center;
    font-weight: bold;
}

.category img.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}


#entries {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 90%;
    transform: translate(-50%);
    visibility: hidden;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}


.sub-category {
    background-image: -webkit-linear-gradient(left, 
    #050e22 0%, 
    rgba(0,0,0,0) 75%
    );
    border-radius: 5px;
    max-width: 100%;
    display: block;
    padding: 10px;
    margin: 30px 10px;
    animation: fade-in 2s;
}

.sub-category .title{
    font-size: 50px;
    margin: 5px;
}


.sub-category .description{
    margin: 5px;
    color: rgb(225, 225, 225);
}

.sub-category .image{
    margin: 5px;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}


.entry {
    background-image: -webkit-linear-gradient(left, 
    #091a3d 0%, 
    rgba(0,0,0,0) 100%
    );
    border-radius: 5px;
    max-width: 100%;
    display: block;
    padding: 10px;
    margin: 30px 10px;
    animation: fade-in 2s;
}

.entry .title{
    font-size: 50px;
    margin: 5px;
}


.entry .description{
    margin: 5px;
    color: lightblue;
}


.entry .image{
    align-items: center;
    margin: 5px;
    max-width: 550px;
    max-height: 550px;
    object-fit: contain;
}

.entry .image-preview{
    display: inline-block;
    align-items: center;
    max-width: 150px;
    max-height: 125px;
    object-fit: contain;
    margin: 2px 4px;
}

.entry .image-preview:hover {
    box-shadow: rgb(251, 251, 251) 0px 0px 10px;
    cursor: pointer;
}

.entry .preview-box {
    width: fit-content;
    background-color: #050e22;
    padding: 3px;
    margin: 10px 5px;
}


.review_box {
    border-radius: 2px;
    background-color: #050e22;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    max-width: 50%;
    width: fit-content;
}


.review_author {
    color: white;
    font-size: 19px;
    display: inline-block;
    margin: 5px 5px;
}

.review_stars {
    color: rgb(255, 225, 0);
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    margin: 5px 5px;
}


.review_message {
    color: rgb(222, 222, 222);
    font-size: 15px;
    margin: 5px 5px;
}


@keyframes fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}